<%- include("headerPart1") -%> 

<title>Gifko Graphix | Portfolio</title>

<%- include("headerPart2") -%> 

<!-- <main role="main" class="inner cover my-auto mx-auto"> -->
  
  <h1>Logos</h1>

  <div class="grid">
    <!-- <div class="grid-sizer">
      
    </div> -->
    <div>
      <img
          src="/portfolio/Logos/GGLogo-default@300x.png"
          class="grid-item grid-item--height1 grid-item--width1"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/AfrodisiacArtboard4wg.png"
          class="grid-item grid-item--width2 grid-item--height2"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/AfrodisiacArtboard4w.png"
          class="grid-item grid-item--height3"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/AfrodisiacArtboard15wg.png"
          class="grid-item grid-item--height2"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/AfrodisiacArtboard15g.png"
          class="grid-item grid-item--width3"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/SLS-Logo-w@300x.png"
          class="grid-item"
        />
    </div>
    <div >
      <img
          src="/portfolio/Logos/SavannaAgric@300x.png"
          class="grid-item"
        />
    </div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item grid-item--width2 grid-item--height3"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height3"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
  </div>
  <!-- </main> -->

<%- include("footer") -%> 