<%- include("header") -%> 

<main role="main" class="inner cover my-auto mx-auto">
    <img
      src="images/logo_t.svg"
      width="342.5"
      height="156"
      alt=""
      class="img-class img-fluid"
    />
    <h1 class="cover-heading">Template page.</h1>
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
  </main>

<%- include("footer") -%> 